@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

:root {
	--primary: steelblue;
	--secondary: slategrey;
	/* muted */
	--primary-bg: rgb(168, 191, 214);
	--secondary-bg: rgb(97, 178, 245);

	--text: #666666;
	--link-text: #333;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto';
	font-weight: 500;
	color: var(--text);
}

/* navigation */
nav {
	display: flex;
	justify-content: center;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	/* width: 100%;
	max-width: 640px; */
}
nav ul li {
	display: flex;
	flex: 1 0 auto;
	text-align: center;
	background: var(--primary-bg);
}
nav ul li a {
	padding: 12px 20px;
	text-decoration: none;
	color: var(--link-text);
	flex: 1 0 auto;
	text-decoration: none;
	transition: all 600ms;
}

.active a {
	font-weight: 900;
	background: var(--secondary-bg);
}

a:hover {
	background: var(--primary);
	color: #333;
	text-decoration: none;
}

/* headers */
h1,
h2,
h3 {
	font-weight: 900;
	color: var(--primary);
}

/* posts */
.post {
	box-shadow: 0 0 10px #ccc;
	border-radius: 5%;
}

.post span {
	font-size: 0.8rem;
}

.post p {
	font-size: 1.1rem;
}
